* {
    padding: 0;
    border: 0;
    font-family: Verdana;
}

.container-cabecalho {
    background-color: #ff4400a4;
    border-radius: 6px;
    align-items: center;
    text-align: center;
    padding: 15px;
    text-shadow: 1px 1px 4px white;
    box-shadow: 1px 1px 4px black;
    margin: 10px;
}

